Hello! <%= session[:current_user_id] %>
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'other' %>
<% if session[:current_user_id] %>
	<%= link_to 'New Post', new_post_path %>
	<%= link_to "logout",:controller => "users", :action => "logout" %>
<% else %>
	<%= link_to 'Register', new_user_path %>
	<%= link_to "Login",:controller => "users", :action => "login" %>
<% end %>
<%= link_to 'Users',  User %>
